<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
						<div id="jian">
							<!-- <div class="form-group">
								<label class="col-sm-3 control-label">报告编号：</label>
								<div class="col-sm-8">
									<input id="reportNum" name="reportNum" class="form-control"
										type="text">
								</div>
							</div> -->
							<div class="form-group">
								<label class="col-sm-3 control-label">报告名称：</label>
								<div class="col-sm-8">
									<input id="reportName" name="reportName" class="form-control"
										type="text">
								</div>
							</div>
						</div>
							<div id="neirong">
							<div class="form-group">
								<label class="col-sm-2 control-label" style="width: 14%;">序号</label>
								<label class="col-sm-3 control-label" style="width: 20%;">题目</label>
								<label class="col-sm-3 control-label" style="width: 42%;">内容</label>
							</div> 
							<!-- <div class="form-group choosecontent">
								<label class="col-sm-1 control-label"></label>
								<div class="col-sm-1">
									<input id="sort" name="sort" value="1" class="form-control" type="text" style="margin-top: 10px;">
								</div>
								<div class="col-sm-4">
									<input id="title" name="title" value="报告编号" class="form-control" type="text" style="margin-top: 10px;">
								</div>
								<div class="col-sm-6">
									<textarea id="content" name="content"  class="form-control" rows="2" cols="100"  style="margin-top: 10px;"></textarea>
								</div>
							</div> -->
							<div class="form-group choosecontent">
								<label class="col-sm-1 control-label"></label>
								<div class="col-sm-1">
									<input id="sort" name="sort" value="1" class="form-control" type="text" style="margin-top: 10px;">
								</div>
								<div class="col-sm-4">
									<input id="title" name="title" value="估价委托方" class="form-control" type="text" style="margin-top: 10px;">
								</div>
								<div class="col-sm-6">
									<textarea id="content" name="content" class="form-control" rows="2" cols="100"></textarea>
								</div>
							</div>
							<div class="form-group choosecontent">
								<label class="col-sm-1 control-label"></label>
								<div class="col-sm-1">
									<input id="sort" name="sort" value="2" class="form-control" type="text" style="margin-top: 10px;">
								</div>
								<div class="col-sm-4">
									<input id="title" name="title" value="报告号" class="form-control" type="text" style="margin-top: 10px;">
								</div>
								<div class="col-sm-6">
									<textarea id="content" name="content" class="form-control" rows="2" cols="100"></textarea>
								</div>
							</div>
							<div class="form-group choosecontent">
								<label class="col-sm-1 control-label"></label>
								<div class="col-sm-1">
									<input id="sort" name="sort" value="3" class="form-control" type="text" style="margin-top: 10px;">
								</div>
								<div class="col-sm-4">
									<input id="title" name="title" value="项目名称" class="form-control" type="text" style="margin-top: 10px;">
								</div>
								<div class="col-sm-6">
									<textarea id="content" name="content" class="form-control" rows="2" cols="100"></textarea>
								</div>
							</div>
							<div class="form-group choosecontent">
								<label class="col-sm-1 control-label"></label>
								<div class="col-sm-1">
									<input id="sort" name="sort" value="4" class="form-control" type="text" style="margin-top: 10px;">
								</div>
								<div class="col-sm-4">
									<input id="title" name="title" value="估价目的" class="form-control" type="text" style="margin-top: 10px;">
								</div>
								<div class="col-sm-6">
									<textarea id="content" name="content" class="form-control" rows="2" cols="100"></textarea>
								</div>
							</div>
							<div class="form-group choosecontent">
								<label class="col-sm-1 control-label"></label>
								<div class="col-sm-1">
									<input id="sort" name="sort" value="5" class="form-control" type="text" style="margin-top: 10px;">
								</div>
								<div class="col-sm-4">
									<input id="title" name="title" value="装修情况" class="form-control" type="text" style="margin-top: 10px;">
								</div>
								<div class="col-sm-6">
									<textarea id="content" name="content" class="form-control" rows="2" cols="100"></textarea>
								</div>
							</div>
							<div class="form-group choosecontent">
								<label class="col-sm-1 control-label"></label>
								<div class="col-sm-1">
									<input id="sort" name="sort" value="6" class="form-control" type="text" style="margin-top: 10px;">
								</div>
								<div class="col-sm-4">
									<input id="title" name="title" value="单价" class="form-control" type="text" style="margin-top: 10px;">
								</div>
								<div class="col-sm-6">
									<textarea id="content" name="content" class="form-control" rows="2" cols="100"></textarea>
								</div>
							</div>
							<div class="form-group choosecontent">
								<label class="col-sm-1 control-label"></label>
								<div class="col-sm-1">
									<input id="sort" name="sort" value="7" class="form-control" type="text" style="margin-top: 10px;">
								</div>
								<div class="col-sm-4">
									<input id="title" name="title" value="建筑面积" class="form-control" type="text" style="margin-top: 10px;">
								</div>
								<div class="col-sm-6">
									<textarea id="content" name="content" class="form-control" rows="2" cols="100"></textarea>
								</div>
							</div>
							<div class="form-group choosecontent">
								<label class="col-sm-1 control-label"></label>
								<div class="col-sm-1">
									<input id="sort" name="sort" value="8" class="form-control" type="text" style="margin-top: 10px;">
								</div>
								<div class="col-sm-4">
									<input id="title" name="title" value="估价总值" class="form-control" type="text" style="margin-top: 10px;">
								</div>
								<div class="col-sm-6">
									<textarea id="content" name="content" class="form-control" rows="2" cols="100"></textarea>
								</div>
							</div>
							<div class="form-group choosecontent">
								<label class="col-sm-1 control-label"></label>
								<div class="col-sm-1">
									<input id="sort" name="sort" value="9" class="form-control" type="text" style="margin-top: 10px;">
								</div>
								<div class="col-sm-4">
									<input id="title" name="title" value="报告出具日期" class="form-control" type="text" style="margin-top: 10px;">
								</div>
								<div class="col-sm-6">
									<textarea id="content" name="content" rows="2" cols="100" class="form-control"></textarea>
								</div>
							</div>
							<div class="form-group choosecontent">
								<label class="col-sm-1 control-label"></label>
								<div class="col-sm-1">
									<input id="sort" name="sort" value="10" class="form-control" type="text" style="margin-top: 10px;">
								</div>
								<div class="col-sm-4">
									<input id="title" name="title" value="报告有效期" class="form-control" type="text" style="margin-top: 10px;">
								</div>
								<div class="col-sm-6">
									<textarea id="content" name="content" rows="2" cols="100" class="form-control" ></textarea>
								</div>
							</div>
							<div class="form-group choosecontent">
								<label class="col-sm-1 control-label">
								</label>
								<div class="col-sm-1">
									<input id="sort" name="sort" value="11" class="form-control" type="text" style="margin-top: 10px;">
								</div>
								<div class="col-sm-4">
									<input id="title" name="title" value="联系电话" class="form-control" type="text" style="margin-top: 10px;">
								</div>
								<div class="col-sm-6">
									<textarea id="content" name="content" class="form-control" rows="2" cols="100"></textarea>
								</div>
							</div>
							</div>
							<div id="other"></div>
							
							<div class="form-group" style="margin-left: 80%;">
								<div class="col-sm-8 col-sm-offset-3">
									<!-- <button type="button" class="btn btn-primary" id="shang" onclick="shangbtn();">上一步</button> -->
									<button type="submit" class="btn btn-primary" id="wan">完成</button>
									<!-- <button type="button" class="btn btn-primary" id="xia" onclick="xiabtn();">下一步</button> -->
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript"
		src="/js/appjs/information/reportList/add.js">
		
	</script>
	<script type="text/javascript">
		 $().ready(function(){
			
			var alabel=document.getElementsByTagName('label');
			var len= alabel.length;
			var label=alabel[len-1];
			var html = '<a class="btn btn-success btn-xs" onclick="add();" style="text-decoration: none; border-radius: 50%;margin-top: 9px;"><i class="fa fa-plus" aria-hidden="true"></i></a>  <a class="btn btn-warning btn-xs" onclick="remove();" style="text-decoration: none; border-radius: 50%;margin-top: 9px;"><i class="fa fa-minus" aria-hidden="true"></i></a>'
			label.innerHTML=html;
			
			/* $('#neirong').hide();
			$('#other').hide();
			$('#shang').hide();
			$('#wan').hide(); */
		})
		/*
		function xiabtn(){
			var reportNum = $('input[name="reportNum"]').val();
			if(reportNum.length<=0 || reportNum == null){
				return alert("报告编号不能为空！！！");
			}
			var reportName = $('input[name="reportName"]').val();
			if(reportName.length<=0 || reportName == null){
				return alert("报告名称不能为空！！！");
			}
			
			$('#jian').hide();
			$('#neirong').show();
			$('#other').show();
			$('#shang').show();
			$('#xia').hide();
			$('#wan').show();
			$('#content:first').val(reportNum);
			
			var alabel=document.getElementsByTagName('label');
			var len= alabel.length;
			var label=alabel[len-1];
			var html = '<a class="btn btn-success btn-xs" onclick="add();" style="text-decoration: none; border-radius: 50%;margin-top: 9px;"><i class="fa fa-plus" aria-hidden="true"></i></a>  <a class="btn btn-warning btn-xs" onclick="remove();" style="text-decoration: none; border-radius: 50%;margin-top: 9px;"><i class="fa fa-minus" aria-hidden="true"></i></a>'
			label.innerHTML=html;
		}
		
		function shangbtn(){
			$('#jian').show();
			$('#neirong').hide();
			$('#other').hide();
			$('#shang').hide();
			$('#xia').show();
			$('#wan').hide();
		}
		*/
		
		function add(){
			
			var alabel=document.getElementsByTagName('label');
			var len= alabel.length;
			var label=alabel[len-1];
			var html = '';
			label.innerHTML=html;	
			
			var html = '';
				html+='	<div class="form-group choosecontent">'
				html+='		<label class="col-sm-1 control-label">'
				html+='			<a class="btn btn-success btn-xs" onclick="add();" style="text-decoration: none; border-radius: 50%;margin-top: 9px;"><i class="fa fa-plus" aria-hidden="true"></i></a>'
				html+='			<a class="btn btn-warning btn-xs" onclick="remove();" style="text-decoration: none; border-radius: 50%;margin-top: 9px;"><i class="fa fa-minus" aria-hidden="true"></i></a>'
				html+='		</label>'
				html+='		<div class="col-sm-1">'
				html+='			<input id="sort" name="sort" value="" class="form-control" type="text" style="margin-top: 10px;">'
				html+='		</div>'
				html+='		<div class="col-sm-4">'
				html+='			<input id="title" name="title" value="" class="form-control" type="text" style="margin-top: 10px;">'
				html+='		</div>'
				html+='		<div class="col-sm-6">'
				html+='			<textarea id="content" name="content" class="form-control" rows="2" cols="100"></textarea>'
				html+='		</div>'
				html+='	</div>'
			$("#other").append(html);
				
		}
		
		function remove(){
			var adiv=document.getElementsByClassName('choosecontent');
			var len= adiv.length;
			console.info(len);
			if(len < 2){
				alert("至少存在一项！！！");
			}else{
				adiv[adiv.length-1].remove();
				
				var alabel=document.getElementsByTagName('label');
				var len= alabel.length;
				var label=alabel[len-1];
				var html = '<a class="btn btn-success btn-xs" onclick="add();" style="text-decoration: none; border-radius: 50%;margin-top: 9px;"><i class="fa fa-plus" aria-hidden="true"></i></a>  <a class="btn btn-warning btn-xs" onclick="remove();" style="text-decoration: none; border-radius: 50%;margin-top: 9px;"><i class="fa fa-minus" aria-hidden="true"></i></a>'
				label.innerHTML=html;
			}
			
		}
		
	</script>
</body>
</html>
